name: Publish

on:
  workflow_dispatch:

jobs:
  linux:
    name: Publish Linux x64
    runs-on: ubuntu-latest
    environment: maven-central-release
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Build Artifacts
        uses: ./.github/actions/build_linux

      - name: Publish to Maven Central
        env:
          JRELEASER_MAVENCENTRAL_USERNAME: ${{ secrets.MAVENCENTRAL_USERNAME }}
          JRELEASER_MAVENCENTRAL_TOKEN: ${{ secrets.MAVENCENTRAL_TOKEN }}
          JRELEASER_GPG_PUBLIC_KEY: ${{ secrets.GPG_PUBLIC_KEY }}
          JRELEASER_GPG_SECRET_KEY: ${{ secrets.GPG_SECRET_KEY }}
        run: |
          ./gradlew publish jreleaserDeploy -Ptarget=x86_64-unknown-linux-gnu

  windows:
    name: Publish Windows x64
    runs-on: windows-latest
    environment: maven-central-release
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Build Artifacts
        uses: ./.github/actions/build_windows

      - name: Publish to Maven Central
        env:
          JRELEASER_MAVENCENTRAL_USERNAME: ${{ secrets.MAVENCENTRAL_USERNAME }}
          JRELEASER_MAVENCENTRAL_TOKEN: ${{ secrets.MAVENCENTRAL_TOKEN }}
          JRELEASER_GPG_PUBLIC_KEY: ${{ secrets.GPG_PUBLIC_KEY }}
          JRELEASER_GPG_SECRET_KEY: ${{ secrets.GPG_SECRET_KEY }}
        run: |
          ./gradlew native:publish native:jreleaserDeploy -Ptarget=x86_64-pc-windows-msvc

  macos:
    name: Publish Universal Darwin
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Build Artifacts
        uses: ./.github/actions/build_macos

      - name: Publish to Maven Central
        env:
          JRELEASER_MAVENCENTRAL_USERNAME: ${{ secrets.MAVENCENTRAL_USERNAME }}
          JRELEASER_MAVENCENTRAL_TOKEN: ${{ secrets.MAVENCENTRAL_TOKEN }}
          JRELEASER_GPG_PUBLIC_KEY: ${{ secrets.GPG_PUBLIC_KEY }}
          JRELEASER_GPG_SECRET_KEY: ${{ secrets.GPG_SECRET_KEY }}
        run: |
          ./gradlew native:publish native:jreleaserDeploy -Ptarget=darwin
